    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    
    li {
        margin: 28px;
    }
    
    #logo {
        width: 347px;
        height: 41px;
        margin: 60px;
        margin-left: 95px;
    }
    
    nav {
        display: flex;
    }